body {
    background-color: #f3f4f5;
}
h1 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 24px;
}
h2 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 22px;
}
h3 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
h4 {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
p {
    color: #757575;
    font-family: Georgia;
    font-size: 18px;
}
.lista {
    color: #757575;
    font-family: Georgia;
    font-size: 18px;
}
.linea {
    width: 20%;
    align-items: initial;
}