header {
  height: 10px;
  width: 100%;
  background: red;
  margin: 10px 10px;
}

main {
  height: 10px;
  width: 100%;
  background: green;
  margin: 10px 10px;
}

footer {
  height: 10px;
  width: 100%;
  background: blue;
  margin: 10px 10px;
}
